<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .nav {
            width: inherit;
            text-align: right;
        }
        .content{
            width: 1000px;
            margin: 0 auto;
        }
        .title{
            widows: inherit;
            text-align: center;
            border-bottom: solid thin #ccc;
        }
    </style>
</head>
<body>
<div class="nav">
    <div class="btn-group">
        <button class="btn btn-default" data-toggle="popover">
            <span class="glyphicon glyphicon-log-in"></span>
        </button>
        <!--
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-th"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">个人中心</li>
                <li><a href="#">书架</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">系统</li>
                <li><a href="#">设置</a></li>
                <li><a href="#">退出</a></li>
            </ul>
            -->
    </div>
</div>
<div class="content">
    <div class="title">
        <h1 th:text="${chapter.name}">dfasfsafasdfsad</h1>
    </div>
    <div class="detail"  th:text="${content}">
        1234124123412341234
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
